<form [formGroup]="editUserForm" (ngSubmit)="onSubmit()" class="m-6">
  <mat-card>
    <mat-card-header class=" mt-6 mb-6">
      <mat-card-title class="text-white m-6">Edit User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username"  required >
        <mat-error *ngIf="editUserForm.get('username')?.invalid && editUserForm.get('username')?.touched">Username is required</mat-error>
      </mat-form-field>

      <!-- <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="editUserForm.get('password')?.invalid && editUserForm.get('password')?.touched">
          Password is required and must be at least 6 characters long
        </mat-error>
      </mat-form-field> -->

      <mat-form-field appearance="fill" class="ml-6">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option value="ROLE_STAFF">Staff</mat-option>
          <mat-option value="ROLE_ADMIN">Admin</mat-option>
        </mat-select>
        <mat-error *ngIf="editUserForm.get('role')?.invalid && editUserForm.get('role')?.touched">Role is required</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="editUserForm.invalid">Update User</button>
    </mat-card-actions>
  </mat-card>
</form>
