<p>register works!</p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">Username is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          Password is required and must be at least 6 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option value="ROLE_STAFF">Staff</mat-option>
          <mat-option value="ROLE_ADMIN">Admin</mat-option>
        </mat-select>
        <mat-error *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched">Role is required</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
    </mat-card-actions>
  </mat-card>
</form>
