<!-- src/app/components/overview/overview.component.html -->
<div class="flex h-screen bg-gray-100 overflow-hidden">
  <!-- Main Content -->
  <main class="flex-1  p-6">
    <!-- Top Header -->
    <header class="bg-gray-800 shadow-lg z-10 mb-6" style="background-color: #1e1a1d;">
      <div class="flex items-center justify-between px-6 py-4">
        <div class="flex items-center space-x-4">
          <h1 class="text-2xl font-bold text-white">Overview</h1>
        </div>
      </div>
    </header>
    <!-- Welcome Section -->
    <div class="welcome-section bg-white rounded-lg shadow-xl p-6 mb-8">
      <div class="flex items-center justify-center flex-col">
        <div class="p-2 bg-fuchsia-800 rounded-lg" style="background-color: #a83e98;">
          <svg class="w-16 h-16 text-white" fill="currentColor" viewBox="0 0 24 24">
            <path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5l6.74-6.76zM9 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" />
          </svg>
        </div>
        <h2 class="text-2xl font-bold text-gray-800 mt-4" *ngIf="user">Welcome back, {{ user.username }}</h2>
        <p class="text-gray-600">We hope you have a great day!</p>
      </div>
    </div>
    <!-- Key Statistics
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
      <div class="stats-card bg-white rounded-lg shadow-xl p-6">
        <h2 class="text-xl font-bold text-gray-800">Active Customers</h2>
        <h3 class="mt-2 text-4xl font-extrabold text-gray-900">{{ activeCustomersCount }}</h3>
      </div>
      <div class="stats-card bg-white rounded-lg shadow-xl p-6">
        <h2 class="text-xl font-bold text-gray-800">Monthly Revenue</h2>
        <h3 class="mt-2 text-4xl font-extrabold text-gray-900">{{ monthlyRevenue | currency:'USD':'symbol' }}</h3>
      </div>
      <div class="stats-card bg-white rounded-lg shadow-xl p-6">
        <h2 class="text-xl font-bold text-gray-800">Active Subscriptions</h2>
        <h3 class="mt-2 text-4xl font-extrabold text-gray-900">{{ activeSubscriptionsCount }}</h3>
      </div>
      <div class="stats-card bg-white rounded-lg shadow-xl p-6">
        <h2 class="text-xl font-bold text-gray-800">Available Packs</h2>
        <h3 class="mt-2 text-4xl font-extrabold text-gray-900">{{ availablePacksCount }}</h3>
      </div>
    </div> -->
    <!-- Quick Actions -->
    <div class="quick-actions bg-white rounded-lg shadow-xl p-6 mb-8">
      <h2 class="text-xl font-bold text-gray-800 mb-4">Quick Actions</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <button mat-raised-button [routerLink]="['/dashboard/users/create']"
          class="w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white submit-button"
          style="background-color: #1e1a1d; color: #FAA8EE;" *ngIf="user == 'ROLE_ADMIN'">
          Add User
        </button>
        <button mat-raised-button [routerLink]="['/dashboard/packs/create']"
          class="w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white submit-button"
          style="background-color: #1e1a1d; color: #FAA8EE;">
          Add Pack
        </button>
        <button mat-raised-button [routerLink]="['/dashboard/subscriptions/create']"
          class="w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white submit-button"
          style="background-color: #1e1a1d; color: #FAA8EE;">
          Subscribe Customer
        </button>
      </div>
    </div>
    <!-- Notifications -->
    <!-- <div class="notifications bg-white rounded-lg shadow-xl p-6 mb-8">
      <h2 class="text-xl font-bold text-gray-800 mb-4">Notifications</h2>
      <div class="space-y-4">
        <div *ngFor="let notification of notifications" class="notification-item bg-gray-50 p-4 rounded-lg shadow-sm">
          <h3 class="text-lg font-semibold text-gray-800">{{ notification.title }}</h3>
          <p class="text-sm text-gray-600">{{ notification.message }}</p>
        </div>
      </div>
    </div> -->
    <!-- Charts -->

  </main>
</div>
