<!-- src/app/components/statistics/statistics.component.html -->
<div class="flex h-screen bg-gray-100 overflow-auto">
  <!-- Main Content -->
  <main class="flex-1  p-6">
    <!-- Top Header -->
    <header class="bg-gray-800 shadow-lg z-10 mb-6" style="background-color: #1e1a1d;">
      <div class="flex items-center justify-between px-6 py-4">
        <div class="flex items-center space-x-4">
          <h1 class="text-2xl font-bold text-white">Statistics</h1>
        </div>
      </div>
    </header>



    <!-- Stats Cards -->
    <div class="stats-cards grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
      <div class="stats-card bg-white rounded-lg shadow-xl p-6">
        <h2 class="text-xl font-bold text-green-800">Active Customers</h2>
        <h3 class="mt-2 text-4xl font-extrabold text-gray-900">{{ activeCustomersCount }}</h3>
      </div>
      <div class="stats-card bg-white rounded-lg shadow-xl p-6">
        <h2 class="text-xl font-bold text-green-800">Monthly Revenue</h2>
        <h3 class="mt-2 text-4xl font-extrabold text-gray-900">{{ monthlyRevenue  }} Fcfa</h3>
      </div>
      <div class="stats-card bg-white rounded-lg shadow-xl p-6">
        <h1 class="text-xl font-bold text-green-800">Pack statistics</h1>
        <h3 class="text-xl font-bold text-gray-800" *ngFor="let element of customersCountByPackData">{{element.packName}} : {{element.count}}</h3>
      </div>
      <!-- <div class="bg-white rounded-lg shadow-xl p-6 mb-8" >
        <h2 class="text-xl font-bold text-gray-800 mb-4">Customers Count by Pack</h2>
        <div class="chart-card">
          <canvas id="customersCountByPackChart"></canvas>
        </div>
      </div> -->
    </div>
    <div class="stats-cards grid grid-cols-1 md:grid-cols-2 gap-3 mb-8">
      <div class="bg-white rounded-lg shadow-xl p-6 mb-8" >
        <h2 class="text-xl font-bold text-gray-800 mb-4">Customers Count by Pack</h2>
        <div class="chart-card">
          <canvas id="customersCountByPackChart"></canvas>
        </div>
      </div>
    </div>

    <!-- Export Section -->
    <div class="export-section bg-white rounded-lg shadow-xl p-6 mb-8">
      <h2 class="text-xl font-bold text-gray-800 mb-4">Export Subscriptions</h2>
      <form [formGroup]="exportForm" (ngSubmit)="exportSubscriptions()" class="space-y-4">
        <div class="relative">
          <label for="startDate" class="block text-sm font-medium text-gray-700">Start Date</label>
          <input type="text" id="startDate" matInput [matDatepicker]="startDatePicker" formControlName="startDate" required
            class="mt-1 block w-full h-12 px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-fuchsia-500 focus:border-fuchsia-500 sm:text-sm"
            placeholder="Select start date">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          <div *ngIf="exportForm.get('startDate')?.invalid && exportForm.get('startDate')?.touched"
            class="mt-1 text-sm text-red-600">
            Start Date is required
          </div>
        </div>
        <div class="relative">
          <label for="endDate" class="block text-sm font-medium text-gray-700">End Date</label>
          <input type="text" id="endDate" matInput [matDatepicker]="endDatePicker" formControlName="endDate" required
            class="mt-1 block w-full h-12 px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-fuchsia-500 focus:border-fuchsia-500 sm:text-sm"
            placeholder="Select end date">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          <div *ngIf="exportForm.get('endDate')?.invalid && exportForm.get('endDate')?.touched"
            class="mt-1 text-sm text-red-600">
            End Date is required
          </div>
        </div>
        <div class="flex justify-end">
          <button type="submit"
            class="w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white submit-button"
            style="background-color: #1e1a1d; color: #FAA8EE;"
            [disabled]="exportForm.invalid">
            Export
          </button>
        </div>
      </form>
    </div>
    <!-- Subscriptions Table -->
    <div *ngIf="subscriptions.length > 0" class="bg-white rounded-lg shadow-xl p-6">
      <h2 class="text-xl font-bold text-gray-800 mb-4">Subscriptions for Period</h2>
      <table mat-table [dataSource]="dataSource" class="subscription-table w-full">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="px-4 py-2 bg-gray-100 text-left text-gray-600 font-semibold" style="color: #FAA8EE;">ID</th>
          <td mat-cell *matCellDef="let element" class="px-4 py-2 text-wite">{{element.id}}</td>
        </ng-container>
        <!-- Customer ID Column -->
        <ng-container matColumnDef="customerId">
          <th mat-header-cell *matHeaderCellDef class="px-4 py-2 bg-gray-100 text-left text-gray-600 font-semibold" style="color: #FAA8EE;">Customer ID</th>
          <td mat-cell *matCellDef="let element" class="px-4 py-2 text-wite">{{element.customer.fullName}}</td>
        </ng-container>
        <!-- Pack ID Column -->
        <ng-container matColumnDef="packId">
          <th mat-header-cell *matHeaderCellDef class="px-4 py-2 bg-gray-100 text-left text-gray-600 font-semibold" style="color: #FAA8EE;">Pack ID</th>
          <td mat-cell *matCellDef="let element" class="px-4 py-2 text-wite">{{element.pack.name}}</td>
        </ng-container>
        <!-- Start Date Column -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef class="px-4 py-2 bg-gray-100 text-left text-gray-600 font-semibold" style="color: #FAA8EE;">Start Date</th>
          <td mat-cell *matCellDef="let element" class="px-4 py-2 text-wite">{{element.startDate | date}}</td>
        </ng-container>
        <!-- Active Column -->
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef class="px-4 py-2 bg-gray-100 text-left text-gray-600 font-semibold" style="color: #FAA8EE;">Active</th>
          <td mat-cell *matCellDef="let element" class="px-4 py-2 text-wite">{{element.active ? 'Yes' : 'No'}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- Pagination -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mt-6"></mat-paginator>
    </div>
    <div *ngIf="subscriptions.length === 0" class="bg-white rounded-lg shadow-xl p-6 text-center">
      <h2 class="text-xl font-bold text-gray-800">No Subscriptions Found</h2>
    </div>
  </main>
</div>
